extends layout

block content
  .w3-card-4
    p.w3-center.w3-padding
        b Bem vindo, #{username}.
    a.w3-btn.w3-blue.w3-hover-indigo.w3-left.w3-round-xxlarge.w3-margin(href="/posts/upload") Novo Post
    a.w3-btn.w3-khaki.w3-hover-yellow.w3-left.w3-round-xxlarge.w3-margin(href="/cursos") Lista Cursos
    a.w3-btn.w3-khaki.w3-hover-yellow.w3-left.w3-round-xxlarge.w3-margin(href="/posts") Lista Posts

    if lista.length > 0
      .w3-container.w3-padding
        each a in lista
          if a.typeNew == 'Post'
            .w3-card.w3-hover-shadow.w3-border.w3-round-xxlarge.w3-padding-large.w3-margin.w3-sand
              if a.typePost == ('Relatório' || 'Tpc' || 'Artigo' || 'Teste')
                h4 
                  b Novo #{a.typePost}
              else if a.typePost == ('Slides')
                h4
                  b Novos #{a.typePost}
              else   
                h4
                  b Nova #{a.typePost}
              h5
                a(href='/' + a.ogpost)= a.title
              hr.w3-clear
              p #{a.description}
              p 
                b
                  a(href='/users/' + a.autor)= a.autor
                |  - #{a.date.toLocaleString('pt-PT')}
          if a.typeNew == 'Comment'
            .w3-card.w3-hover-shadow.w3-border.w3-round-xxlarge.w3-padding-large.w3-margin
              h5
                b Novo Comentário 
              p #{a.comment}
              p
                b
                  a(href='/' + a.ogpost) Seguir para post
              p 
                b
                  a(href='/users/' + a.autor)= a.autor
                |  - #{a.date.toLocaleString('pt-PT')}
          p    
    else
      div(class="w3-container")
        p There are no news...
    .w3-container.w3-deep-orange.w3-center
      a.w3-btn.w3-hover-orange.w3-sand.w3-round-xxlarge.w3-margin(href="/") Voltar a homepage
      a.w3-center.w3-padding Gerado por Collegify :: 2020

    
