extends layout

block content
  .w3-card-4
    if infouser != null
      header.w3-container.w3-khaki
        h3 #{infouser.name}
      div(class="w3-container w3-sand")
        p Username: #{infouser.username}
        p Email: #{infouser.email}
        p Password: #{infouser.password}
    else
      div(class="w3-container")
        p Erro: User not found...
    div(class="w3-container w3-khaki")
      form(method='POST' action=`/users/update/${infouser._id}`)
        p
          |Edit Info
        div
          input(name="name" type="text" placeholder=`New name`)
        div
          input(name="username" type="text" placeholder=`New username`)
        div 
          input(name="email" type="text" placeholder=`New email`)
        div 
          input(name="password" type="text" placeholder=`New password`)
        div  
          input(class="w3-btn" type='submit' value='Edit' style="background-color:  #008CBA;")
      form(method='POST' action=`/users/delete/${infouser._id}`)
        input(class="w3-btn" type='submit' value='Delete' style="background-color:  #FF0000;")
    div(class="w3-container w3-sand")
      p
        a(href='/') Back to homepage.
      p
        a(href='/users') Back to user list.
    footer(class="w3-container w3-khaki")
      address Gerado por Collegify :: 2020