extends ../layout

block content
  .w3-container.w3-cyan
    h1.w3-bold [#{post.type}] #{post.title}
  .w3-container.w3-light-blue.w3-margin.w3-border
    h2 #{post.title}
    h3 #{post.subtitle}
    p #{post.description}
    p #{post.dateRegister}
  .w3-container.w3-light-blue
    h3 Comentarios
  
