extends layout

block content
  .w3-card-4
    if lista.length > 0
      .w3-container.w3-padding
        table(class="w3-table-all")
          tr
            th Type
            th Title
            th Subtitle
            th Uploader
            th Tags
          each a in lista
            tr
              td= a.type
              td
                a(href='/posts/'+a._id) #{a.title}
              td= a.subtitle
              td= a.uploader
              td= a.tags
    else
      div(class="w3-container")
        p There are no posts...
block footer