extends ../layout

block content
  script.
    function editar() {
      var x = document.getElementById("mostrar")
      x.style.display === "block" ? x.style.display = "none" : x.style.display = "block"
      var y = document.getElementById("esconder")
      y.style.display === "none" ? y.style.display = "block" : y.style.display = "none"
    }
  .w3-card-4
    if infouser != null
      header.w3-container.w3-khaki
        h3 #{infouser.name}
      .w3-container.w3-sand
        p Username: #{infouser.username}
        p Email: #{infouser.email}
        p Curso: #{infouser.curso}
        p Data de Registo: #{infouser.dateRegister.toLocaleString('pt-PT')}
        p Data de Ultimo Logout: #{infouser.dateLast.toLocaleString('pt-PT')}
        p
          a.w3-btn.w3-hover-amber.w3-yellow.w3-round-xxlarge.w3-margin(href='/users/'+infouser.username+'/favs') Posts Favoritos
    else
      .w3-container
        p Erro: User not found...
    if checksame
      .w3-container.w3-sand
        a.w3-btn.w3-round-xlarge.w3-pale-red(href="/auth/google") Link conta Google 
        p
        a.w3-btn.w3-round-xlarge.w3-blue(href="/auth/facebook") Link conta Facebook
        p
        input.w3-btn.w3-khaki.w3-round-xlarge.w3-margin(type="button" value=`Edit Info` id="esconder" onclick="editar()")
      .w3-container.w3-khaki(id="mostrar" hidden)
        form(method='POST' action=`/users/update/${infouser._id}`)
          p
            label.w3-bold Novo nome
            input.w3-input.w3-border(name="name" type="text" value=infouser.name)
          p
            label.w3-bold Novo Username
            input.w3-input.w3-border(name="username" type="text" value=infouser.username)
          p
            label.w3-bold Novo E-mail
            input.w3-input.w3-border(name="email" type="text" value=infouser.email)
          p
            label.w3-bold Novo Curso
            input.w3-input.w3-border(name="curso" type="text" value=infouser.curso)
          p
            label.w3-bold Nova Password
            input.w3-input.w3-border(name="password" type="password" value=infouser.password)
          p  
            input.w3-btn.w3-blue.w3-round-xxlarge(type='submit' value='Edit' style="background-color:  #008CBA")
          input.w3-btn.w3-brown.w3-round-xxlarge(type="reset" value=`Cancel` style="background-color:  #916663" onclick="editar()")
        form(method='POST' action=`/users/delete/${infouser._id}`)
          button.w3-right.w3-btn.w3-red.w3-round-xxlarge.w3-margin(type="submit") Apagar conta



    .w3-container.w3-deep-orange.w3-center
      a.w3-btn.w3-hover-orange.w3-sand.w3-round-xxlarge.w3-margin(href="/") Voltar a homepage
      a.w3-center.w3-padding Gerado por Collegify :: 20200