extends ../layout

block content
    .w3-container.w3-sand.w3-margin.w3-border
      form.w3-container(action=`/posts/${idPost}/edit` method="POST" enctype="multipart/form-data")
        p
        label.w3-bold Título
        input.w3-input.w3-border(name="title" type="text" value=`${post.title}`)
        p
        label.w3-bold Subtitle
        input.w3-input.w3-border(name="subtitle" type="text" value=`${post.subtitle}`)
        p      
        label.w3-bold Descrição
        input.w3-input.w3-border(name="description" type="text" value=`${post.description}` )
        p      
        label.w3-bold Curso
        input.w3-input.w3-border(name="curso" type="text" value=`${post.meta.curso}`)
        p
        label.w3-bold Ano
        input.w3-input.w3-border(name="ano" type="text" value=`${post.meta.ano}`)
        p
        label.w3-bold Semestre
        input.w3-input.w3-border(name="semestre" type="text" value=`${post.meta.semestre}`)
        p
        label.w3-bold Unidade Curricular
        input.w3-input.w3-border(name="cadeira" type="text" value=`${post.meta.cadeira}`)
        p
        label Tipo de Post
          select(name="type").w3-input.w3-border
            option(value="Relatório" selected) Relatório
            option(value="Tpc") Tpc
            option(value="Artigo") Artigo
            option(value="Tese") Tese
            option(value="Aplicação") Aplicação
            option(value="Slides") Slides
            option(value="Teste") Teste
        p
        label Público
          input.w3-margin(name="visibility" type="radio" value="Público" checked)
        label Privado
          input.w3-margin(name="visibility" type="radio" value="Privado")  
        p
        label.w3-bold Tags
        input.w3-input.w3-border(name="tags" type="text" value=`${post.tags}`)
        p
        .w3-padding
          button.w3-deep-orange.w3-round-xxlarge.w3-margin(type="submit") Editar
    .w3-container.w3-deep-orange.w3-center
      a.w3-btn.w3-hover-orange.w3-sand.w3-round-xxlarge.w3-margin(href="/posts") Voltar ao Posts
      a.w3-center.w3-padding Gerado por Collegify :: 2020
      a.w3-btn.w3-hover-orange.w3-sand.w3-round-xxlarge.w3-margin(href="/") Voltar a homepage



