extends ../layout

block content

  .w3-card-4
    a.w3-btn.w3-black.w3-left.w3-round.w3-margin(href="/posts/upload") Novo Post
    p
    if lista.length > 0
      .w3-container.w3-padding
        table#myTable(class="w3-table-all w3-card-4 w3-hoverable")
          tr
            th(onclick="sortTable(0)") Type
            th(onclick="sortTable(1)") Title
            th(onclick="sortTable(2)") Subtitle
            th(onclick="sortTable(3)") Uploader
            th(onclick="sortTable(4)") Date
            th(onclick="sortTable(5)") Visibility
            th(onclick="sortTable(6)") Tags
            th(onclick="sortTable(7)") Curso
            th(onclick="sortTable(8)") UC
            th(onclick="sortTable(9)") Feedback
          each a in lista
            
            tr
              td #{a.type}
              td
                a(href='/posts/'+a._id)= a.title
              td #{a.subtitle}
              td 
                a(href='/posts/'+a._id)= a.uploader
              td #{a.dateCreation.toLocaleString('pt-PT')}
              td #{a.visibility}
              td 
                each tag in a.tags
                  span.w3-tag.w3-teal #{tag}
                  span  
              td #{a.meta.curso}
              td #{a.meta.cadeira}
              td ⭐#{a.meta.favs.length} 👍#{a.meta.votes.length} 💬#{a.comments.length}
    else
      div(class="w3-container")
        p There are no posts...
  .w3-container.w3-deep-orange.w3-center
      a.w3-btn.w3-hover-orange.w3-sand.w3-round-xxlarge.w3-margin(href="/") Voltar a homepage
      a.w3-center.w3-padding Gerado por Collegify :: 2020
