extends ../layout

block content
  .w3-card-4
    header.w3-container.w3-khaki
      h3 Lista de Posts
    if lista.length > 0
      .w3-container
        table#myTable(class="w3-table-all")
          tr
            th(onclick="sortTable(0)") Type
            th(onclick="sortTable(1)") Title
            th(onclick="sortTable(2)") Subtitle
            th(onclick="sortTable(3)") Uploader
            th(onclick="sortTable(4)") Description
            th(onclick="sortTable(5)") Date Creation
            th(onclick="sortTable(6)") Date Register
            th(onclick="sortTable(7)") Visibility
            th(onclick="sortTable(8)") Comments
            th(onclick="sortTable(9)") Tags
            th(onclick="sortTable(10)") Meta
          each a in lista
            tr
              td= a.type
              td
                a(href='/posts/'+a._id) #{a.title}
              td= a.subtitle
              td= a.uploader
              td= a.description
              td= a.dateCreation
              td= a.dateRegister
              td= a.visibility
              td= a.comments.length
              td= a.tags
              td= a.meta
    else
      div(class="w3-container")
        p There are no posts...
    div(class="w3-container w3-khaki")
      p
        a(href='/posts/upload') Register new post.
    div(class="w3-container w3-khaki")
      p
        a(href='/') Back to homepage.
    footer(class="w3-container w3-khaki")
      address Gerado por Collegify :: 2020