extends ../layout

block content

  .w3-card-4
    a.w3-btn.w3-black.w3-left.w3-round.w3-margin(href="/posts/upload") Novo Post
    p
    if lista.length > 0
      .w3-container.w3-padding
        table#myTable(class="w3-table-all")
          tr
            th(onclick="sortTable(0)") Type
            th(onclick="sortTable(1)") Title
            th(onclick="sortTable(2)") Subtitle
            th(onclick="sortTable(3)") Uploader
            th(onclick="sortTable(4)") Description
            th(onclick="sortTable(5)") Date Creation
            th(onclick="sortTable(6)") Date Register
            th(onclick="sortTable(7)") Visibility
            th(onclick="sortTable(8)") Comments
            th(onclick="sortTable(9)") Tags
            th(onclick="sortTable(10)") Meta
          each a in lista
            
            tr
              td
                a(href='/posts/'+a._id)= a.type
              td
                a(href='/posts/'+a._id)= a.title
              td
                a(href='/posts/'+a._id)= a.subtitle
              td
                a(href='/posts/'+a._id)= a.uploader
              td
                a(href='/posts/'+a._id)= a.description
              td
                a(href='/posts/'+a._id)= a.dateCreation.toLocaleString('pt-PT')
              td
                a(href='/posts/'+a._id)= a.dateRegister.toLocaleString('pt-PT')
              td
                a(href='/posts/'+a._id)= a.visibility
              td
                a(href='/posts/'+a._id)= a.comments.length
              td
                a(href='/posts/'+a._id)= a.tags
              td
                a(href='/posts/'+a._id)= a.meta
    else
      div(class="w3-container")
        p There are no posts...
  .w3-container.w3-deep-orange.w3-center
      a.w3-btn.w3-hover-orange.w3-sand.w3-round-xxlarge.w3-margin(href="/") Voltar a homepage
      a.w3-center.w3-padding Gerado por Collegify :: 2020
